.c-navbar{
    padding-top: 10px;
} 

.c-navbar-brand>a >img{
    width: 50px;
}
Nav.Link> img{
    width: 50px;

}

.navbar-nav >a >img{
    width: 50px;
}
.mr-auto > a{
    margin-right: 20px;
}

 nav {
     
    background-color: #032541;
    color: white;
}
 .navbar>.mr-auto> a{
    color: white !important;
    font-size: 1.25rem;
}
.active{
    font-weight: 600;
    border: 1px solid;
}

.navbar-nav >a:hover{
    font-weight: 600;
}

@media (max-width: 750px) {
    
    .navbar-nav >a >img{
        width: 30px;
    }
    .mr-auto > a{
        margin-right: 0;
    }
    .navbar>.mr-auto> a{
        color: white !important;
        font-size: 0.75rem;
    }

    }